#powernav {
    position: absolute;
    left: 50%;
    display: none;
}

#powernav-container {
    position: relative;
    left: -50%;
    top: 100px;
    background-color: white;
    min-width: 800px;
    padding: 30px;
    border: 4px solid #ccc;
    border-radius: 7px;
    box-shadow: 13px 13px 5px 0px rgba(0,0,0,0.30);
    background-color: rgb(34, 34, 34);
}

#powernav-input {
    font-size: 2em;
    height: 50px;
    margin-bottom: 5px;
}

#powernav-results {
    max-height: 600px;
    overflow-y: auto;
}

#powernav .result {
    background-color: rgba(255,255,255, 0.05);
    color: white;
    margin-top: 2px;
    padding: 5px;
    font-weight: bold;
}

#powernav .result .score {
    color: #ccc;
    margin-right: 5px;
    font-style: italic;
}
